[phases.setup]
nixPkgs = ["...", "ffmpeg", "git", "build-essential", "libssl-dev"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "python3 -m TEAMXMUSIC"
