[phases.setup]
nixPkgs = ["python311", "ffmpeg", "git", "gcc", "gfortran", "openssl"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "python3 -m TEAMXMUSIC"
