[phases.setup]
nixPkgs = ["ffmpeg", "git", "gcc", "openssl"]

[phases.install]
cmds = [
    "python -m pip install --upgrade pip",
    "python -m pip install -r requirements.txt"
]

[start]
cmd = "python -m TEAMXMUSIC"
